resrc/tw_msg.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--Author: Burdisso Sergio - 2014-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- TILEWORLD MESSAGE (tw_msg) HIGH-LEVEL STRUCTURE -->
	<!--tw_msg-->
	<xs:element name="tw_msg">
		<xs:complexType>
			<xs:sequence>
				<!--tw_msg.header (percept, start, end, message, ready_for_next_action, error)-->
				<xs:element ref="header"/>

				<!--tw_msg.data/desc-->
				<xs:choice>
					<!--tw_msg.data-->
					<xs:element name="data">
						<xs:complexType>
							<xs:all>
								<!--tw_msg.data.environment-->
								<xs:element ref="environment"/>

								<!--tw_msg.data.agent-->
								<xs:element ref="agent"/>

								<!--tw_msg.data.builtin_knowledge-->
								<xs:element ref="builtin_knowledge"/>
							</xs:all>
						</xs:complexType>
					</xs:element>

					<!--tw_msg.desc-->
					<xs:element name="desc" type="xs:string"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- TILEWORLD MESSAGE (tw_msg) HIGH-LEVEL STRUCTURE END -->

	<!-- DEFINITION OF INDIVIDUAL ELEMENTS -->
	<!--tw_msg.header-->
	<xs:element name="header">
		<xs:simpleType>
			 <xs:restriction base="xs:string">
				<xs:enumeration value="percept"/>
				<xs:enumeration value="start"/>
				<xs:enumeration value="end"/>
				<xs:enumeration value="message"/>
				<xs:enumeration value="ready_for_next_action"/>
				<xs:enumeration value="error"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<!--tw_msg.data.environment-->
	<xs:element name="environment">
		<xs:complexType>
			<xs:all>
				<!--tw_msg.data.environment.grid-->
				<xs:element ref="grid"/>

				<!--tw_msg.data.environment.time-->
				<!--(optional, depending on whether the environment is dynamic or static)-->
				<xs:element ref="time" minOccurs="0"/>

				<!--tw_msg.data.environment.battery_chargers (optional)-->
				<xs:element ref="battery_chargers" minOccurs="0"/>

				<!--tw_msg.data.environment.agents (optional)-->
				<xs:element ref="agents" minOccurs="0"/>

				<!--tw_msg.data.environment.holes-->
				<xs:element ref="holes"/>

				<!--tw_msg.data.environment.tiles-->
				<xs:element ref="tiles"/>

				<!--tw_msg.data.environment.tiles-->
				<xs:element ref="obstacles"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.agent || tw_msg.data.environment.agents.agent[*]-->
	<xs:element name="agent">
		<xs:complexType>
			<xs:all>
				<!--tw_msg.data.agent.location-->
				<xs:element ref="location"/>
			</xs:all>
			<!--tw_msg.data.agent.my_id (optional)-->
			<xs:attribute name="id" type="xs:nonNegativeInteger"/>
			<!--tw_msg.data.agent.team_id (optional)-->
			<xs:attribute name="team_id" type="xs:nonNegativeInteger"/>
			<!--tw_msg.data.agent.score-->
			<xs:attribute name="score" type="xs:nonNegativeInteger" use="required"/>
			<!--tw_msg.data.agent.battery (optional)-->
			<xs:attribute name="battery" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge-->
	<xs:element name="builtin_knowledge">
		<xs:complexType>
			<xs:all>
				<!--tw_msg.data.builtin_knowledge.grid_total_rows-->
				<xs:element ref="grid_total_rows"/>

				<!--tw_msg.data.builtin_knowledge.grid_total_columns-->
				<xs:element ref="grid_total_columns"/>

				<!--tw_msg.data.builtin_knowledge.teams (optional)-->
				<xs:element ref="teams" minOccurs="0"/>

				<!--tw_msg.data.builtin_knowledge.costs-->
				<xs:element ref="costs"/>

				<!--tw_msg.data.builtin_knowledge.probability-->
				<xs:element ref="probability"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.environment.grid-->
	<xs:element name="grid">
		<xs:complexType>
			<xs:sequence>
				<!--tw_msg.data.environment.grid.row[i]-->
				<xs:element name="row" minOccurs="3" maxOccurs="unbounded"/><!--3..* row(s)-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.environment.time-->
	<xs:element name="time">
		<xs:complexType>
			<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.environment.battery_chargers (optional)-->
	<xs:element name="battery_chargers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="location" minOccurs="0" maxOccurs="unbounded"/><!--0..* location(s)-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.environment.agents-->
	<xs:element name="agents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="agent" minOccurs="0" maxOccurs="unbounded"/><!--0..* hole(s)-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.environment.holes-->
	<xs:element name="holes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="hole" minOccurs="0" maxOccurs="unbounded"/><!--0..* hole(s)-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.environment.tiles-->
	<xs:element name="tiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tile" minOccurs="0" maxOccurs="unbounded"/><!--0..* tile(s)-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.environment.obstacles-->
	<xs:element name="obstacles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="obstacle" minOccurs="0" maxOccurs="unbounded"/><!--0..* obstacle(s)-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.teams (optional)-->
	<xs:element name="teams">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="team" minOccurs="0" maxOccurs="unbounded"/><!--1..* team(s)-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.costs-->
	<xs:element name="costs">
		<xs:complexType>
			<xs:all>
				<!--tw_msg.data.builtin_knowledge.costs.moves-->
				<xs:element ref="move"/>
				<!--tw_msg.data.builtin_knowledge.invalid_action-->
				<xs:element ref="invalid_action"/>
				<!--tw_msg.data.builtin_knowledge.hole_filling-->
				<xs:element ref="hole_filling"/>
				<!--tw_msg.data.builtin_knowledge.battery (optional)-->
				<xs:element name="battery" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<!--tw_msg.data.builtin_knowledge.battery.walk-->
							<xs:element ref="walk"/>
							<!--tw_msg.data.builtin_knowledge.battery.slide_tiles-->
							<xs:element ref="slide_tiles"/>
							<!--tw_msg.data.builtin_knowledge.battery.invalid_move-->
							<xs:element ref="invalid_move"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.environment.grid.row[i]-->
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<!--tw_msg.data.environment.grid.row[i].cell_data[j]-->
				<xs:element name="cell_data" minOccurs="3" maxOccurs="unbounded"><!--3..* cell_data(s)-->
					<xs:complexType>
						<xs:attribute name="value" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.environment.holes.hole[*]-->
	<xs:element name="hole">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cell" minOccurs="1" maxOccurs="unbounded"/><!--1..* cell(s)-->
			</xs:sequence>
			<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="size" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="lifetime_left" type="xs:nonNegativeInteger"/><!--optional-->
			<xs:attribute name="time_elapsed" type="xs:nonNegativeInteger"/><!--optional-->
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.environment.tiles.tile[*]-->
	<xs:element name="tile">
		<xs:complexType>
			<xs:attribute name="row" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="column" type="xs:nonNegativeInteger" use="required"/>
			<!--
			<xs:attribute name="lifetime_left" type="xs:nonNegativeInteger"/>
			<xs:attribute name="time_elapsed" type="xs:nonNegativeInteger"/>
			-->
		</xs:complexType>
	</xs:element>
	
	<!--tw_msg.data.environment.obstacles.obstacle[*]-->
	<xs:element name="obstacle">
		<xs:complexType>
			<xs:attribute name="row" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="column" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="lifetime_left" type="xs:nonNegativeInteger"/><!--optional-->
			<xs:attribute name="time_elapsed" type="xs:nonNegativeInteger"/><!--optional-->
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.grid_total_rows-->
	<xs:element name="grid_total_rows">
		<xs:complexType>
			<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.grid_total_columns-->
	<xs:element name="grid_total_columns">
		<xs:complexType>
			<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.teams.team[*]-->
	<xs:element name="team">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="member" minOccurs="1" maxOccurs="unbounded"><!--1..* member(s)-->
					<xs:complexType>
						<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="leader" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.costs.moves-->
	<xs:element name="move">
		<xs:complexType>
			<xs:attribute name="value" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.invalid_action-->
	<xs:element name="invalid_action">
		<xs:complexType>
			<xs:attribute name="value" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.hole_filling-->
	<xs:element name="hole_filling">
		<xs:complexType>
			<xs:attribute name="value" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.battery.walk-->
	<xs:element name="walk">
		<xs:complexType>
			<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.battery.slide_tiles-->
	<xs:element name="slide_tiles">
		<xs:complexType>
			<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.battery.invalid_move-->
	<xs:element name="invalid_move">
		<xs:complexType>
			<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--tw_msg.data.builtin_knowledge.probability-->
	<!--EMPTY SO FAR-->
	<xs:element name="probability">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<!--*.cell-->
	<xs:element name="cell">
		<xs:complexType>
			<xs:attribute name="row" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="column" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

	<!--*location-->
	<xs:element name="location">
		<xs:complexType>
			<xs:attribute name="row" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="column" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>

</xs:schema>